:root {
  --nav-color:#000;
  --text-color: #657b83;
  --secondary-text-color:#93a1a1;
  --em-text-color: #586e75;
  --yellow-color: #b58900;
  --bg-color: #fdf6e3;
  --dark-bg: #fdf6e3;
  --light-bg: rgba(155, 151, 151, 0.082);
  --light-fg: #fff;
  --light-gray: rgb(128, 128, 128);
  --content-width: 76rem;
  --hero-font:'PT Sans Narrow', sans-serif;
  --text-font:"PT Sans", sans-serif;
  --code-font:'Inconsolata', monospace;
  --tint-color:#657b83;
  --accent-color: #2aa198;
  --tint-background-color:#1231e010;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body, div, a, p, blockquote, ul ,li, a {
  font-family: var(--text-font);
  background-color: var(--bg-color);
  color: var(--text-color);
}
h1, h2, h3, h4, h5 {
  font-family: var(--hero-font);
  color: var(--em-text-color);
}

h1 {
  font-size: 3rem;
}

a, a:hover {
  color: var(--text-color);
  padding: 2px 5px;
  position: relative;
  text-decoration: none;
  border-bottom: solid 2px var(--accent-color);
  transition: background-color 0.2s ease-in-out 0s;
}

a:hover {
  border-radius: 3px;
  background-color: var(--accent-color);
  color: var(--bg-color);
}
a:hover > .tinted {
  color: var(--bg-color);
}

.navbar {
  margin:auto;
  margin-top:1em;
  margin-bottom: 1em;
  display: inline-block;
}

.navbar-nav, .nav-item {
  display: inline-block;
}

.nav-item {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

a > svg:hover {
  color: var(--accent-color);
}

a.nav-link {
  font-family: var(--hero-font);
  color: var(--nav-color);
  border: unset;
  text-transform: uppercase;
  font-size: larger;
  padding: 5px;
}

a.nav-link:hover {
  background: unset;
}

a.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

a.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}


a.post-ref:hover {
  color: black;
  background: unset;
}

pre {
  padding-left:15px;
}

.tag-div {
  padding:1rem 1rem;
}

a.tag-ref {
  display: block;
  width: 100%;
  padding: 1rem;
  /* background: var(--light-bg); */
  border: solid 2px var(--light-bg);
  border-radius: 0.5rem;
  font-size: large;
}

@media all and (max-width: 375px) {
  .tag-div > .col-md-4 {
      margin-top: 0.5rem;
  }
}

@media all and (min-width: 376px) and (max-width: 800px) {
  .tag-div > .col-md-4 {
    margin-top: 0.5rem;
}
}

