:root {
  --dark-bg: #000;
  --light-bg: rgba(155, 151, 151, 0.082);
  --light-fg: #fff;
  --light-gray: rgb(128, 128, 128);
  --content-width: 76rem;
  --hero-font:'Merriweather Sans', sans-serif;
  /* --hero-font:'Bebas Neue', cursive; */
  /* --hero-font:"Slabo 27px", serif; */
  --text-font:"Roboto", sans-serif;
  --code-font:'Inconsolata', monospace;
  --tint-color:#1231e0;
  --tint-background-color:#1231e010;
}

body, div, a, p, blockquote, ul ,li, a {
  font-family: var(--text-font);
}
h1, h2, h3, h4, h5 {
  font-family: var(--hero-font);
}
h1 {
  font-size: 3rem;
}
a {
  color:var(--tint-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background: linear-gradient(90deg,#ff7300,#ff2776);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff2776;
}
a > svg:hover {
  color: #ff2776;
}

a.nav-link {
  font-family: var(--hero-font);
  
  color: white;
  border: solid 1px transparent;
  margin: 10px 15px;
  text-transform: uppercase;
}

a.nav-link:hover {
  color:var(--tint-color);
}

a.post-ref:hover {
  color: black;
}

pre {
  padding-left:15px;
}

.navbar-brand {
  margin-left: 20px;
}

.brand-logo {
  width: 72px;
  height: 72px;
}

.brand-bg {
  fill: var(--tint-color);
  fill-opacity: 1;
}

.navbar {
  width: var(--content-width);
  margin: auto;
}

.navbar-brand  > img.hero, .navbar-brand > a > img.hero  {
  width: 60px;
  height: 60px;
  border: solid 0.1rem;
  border-radius: 50%;
  border-color: darkgray;
  object-fit: cover;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  /* background: none; */
  
}

.navbar-toggler {
  border-color:white;
} 

.tag-div {
  padding:1rem 1rem;
}

a.tag-ref {
  display: block;
  width: 100%;
  padding: 1rem;
  /* background: var(--light-bg); */
  border: solid 2px var(--light-bg);
  border-radius: 0.5rem;
  font-size: large;
}

@media all and (max-width: 375px) {
  .tag-div > .col-md-4 {
      margin-top: 0.5rem;
  }
}

@media all and (min-width: 376px) and (max-width: 800px) {
  .tag-div > .col-md-4 {
    margin-top: 0.5rem;
}
}
