@import "./base.css";

section.mk-footer {
    padding: 4rem;
    font-family: var(--hero-font);
    text-align: justify;
}

section.mk-footer>div:first-child {
    max-width: var(--content-width);
    margin: auto;
}

section.mk-footer > .row > .padded-col {
    padding: 15px;
}

img.hero {
    width: 200px;
    height: 200px;
    border: solid 0.25rem;
    border-radius: 50%;
    border-color: darkgray;
    object-fit: cover;
  }

  .copy {
      padding-top: 4rem;
  }
  .copy > *{
    font-size: smaller;
    margin: auto
  }

  @media all and (max-width: 375px) {
    section.mk-footer
    {
        font-size: 10px;
        padding: 10px;
    }
    
}

@media all and (min-width: 376px) and (max-width: 800px) {
    section.mk-footer
    {
        font-size: 14px;
        padding: 10px;
    }
   
}