@import "./base.css";

.row.mx-auto.footer-row {
  margin: auto;
  max-width: 76rem;
  padding-top:5rem;
}

.row.mx-auto.footer-row > .padded-col {
  padding: 15px;
}

.footer-row > .padded-col > .d-flex {
    flex-direction: column;
}
.copy {
  padding-top:2rem;
  padding-bottom: 4rem;
  justify-content: center;
}



.links {
    flex-direction: row;
    justify-content: center;
}
.links > a, .links > a:hover {
    border: unset;
    text-decoration: unset;
    background: unset;
    
}

.links > a:hover .fa-circle {
    color: var(--accent-color);
}
.links > a:hover .rounded {
    color: white;
}

.footer-row p {
    font-size: 1.1rem;
    line-height: 1.4em;
}
.copy p {
    font-size: smaller;
}
.footer-row h2 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: -0.125rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3rem;
}

.fa-circle {
    font-size: 1.5rem !important;
    color: var(--em-text-color);
}

.fa-inverse {
    font-size: 1.5rem;
}
.footer-row .navbar {
    padding:0;
    margin:0;
}
.footer-row .navbar .navbar-nav {
    display: flex;
}

.footer-row .navbar * {
    color: var(--text-color);
}

@media all and (max-width: 360px) {
    .footer-row .navbar
    {
        padding: 0px 16px;
    }
    .footer-row .navbar .navbar-nav {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    
    
}


  @media all and (max-width: 375px) {
    .footer-row .navbar
    {
        padding: 0px 16px;
    }
    .footer-row .navbar .navbar-nav {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    
}

@media all and (min-width: 376px) and (max-width: 800px) {
    .footer-row .navbar
    {
        padding: 0px 16px;
    }
    .footer-row .navbar .navbar-nav {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
   
}

.copy p:not(:last-child)::after {
  content: "•";
  display: inline-block;
  padding: 0 5px;
  color: var(--secondary-text-color);
  letter-spacing: 0.4em;
  text-indent: 0.2em;
  line-height: 1.4;
}
 