@import "./base.css";

.dark-bg {
  background-color: var(--dark-bg);
  color: var(--light-fg);
}

.navbar {
  background-color: var(--dark-bg);
}

.section-head {
  margin:2rem 0 1rem ;
  display: flex;
   align-items: center;
    text-align: left;
  font-family: var(--hero-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.005rem;
  font-size: 1.3rem;
  color: lightgray;
}
.section-head::after {
  content: '';
  flex: 1;
  margin-left:0.25rem;
  border-bottom: dotted 4px lightgray;
}

.section-tail {
  justify-content: flex-end;
  margin: 1rem 0 2rem;
  text-transform: uppercase;
  font-family: var(--hero-font);
  font-weight: 500;
}

.main-row {
  margin: auto;
  max-width: 76rem;
  min-height: 70vh;
}

.main-row > .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}

.first-post > a > img {
  width: 100% !important;
  height: 30vh !important;
}