
div.post-div {
    padding: 10px;
  }
  


  a.post-ref {
    display: block;
    text-decoration: none;
    color: black;
  }
  a.post-ref:hover {
    text-decoration: none;
    background: transparent;
    -webkit-text-fill-color: unset;
  }
  
  .postlist-date {
    color: darkgray;
    font-size: smaller;
  }
  
  .postlist-date::before {
    content:"•";
    display: inline-block;
    color: darkgray;
    letter-spacing: 0.4em;
    text-indent: 0.2em;
    line-height: 1.4;
  }
  
  .post-hero {
    width: 100%;
    height: 30vh;
    object-position: top;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .tag-list {
    float:right;
  }
  
.col-lg-12 > .post-div > .post-ref > h2 {
    font-size: 1.1rem;
    font-weight: 700;
  }
  
  .col-lg-12 > .post-div > .post-ref > p {
    font-size: 0.95rem;
    clear: right;
  }
  
  .col-lg-12 > .post-div > a > .post-hero {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
  }

  div.tag-view {
    margin-top:1rem;
  }

  .tag-post > .post-div > .post-ref > h2 {
    font-size: 1.1rem;
    font-weight: 700;
  }
  
  .tag-post > .post-div > .post-ref > p {
    font-size: 0.95rem;
    clear: right;
  }
  
  .tag-post > .post-div > .post-hero, .tag-post > .post-div > a > .post-hero {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
  }