div.post-div {
  padding: 10px;
  line-height: 1.2em;
}

a.img-ref,
a.img-ref:hover {
  position: initial;
  background: unset;
  border: unset;
  padding: 0;
  transition: unset;
}
a.post-ref,
a.post-ref:hover {
  position: initial;
  background: unset;
  border: unset;
  padding: 0;
  transition: unset;
}

a.post-ref > * {
  line-height: 1.5rem;
}

a.post-ref > h2 {
  font-size: 1.8rem;
  line-height: 1.8em;
}

.postlist-date {
  color: var(--secondary-text-color);
  font-size: smaller;
}

.postlist-date::before {
  content: "•";
  display: inline-block;
  color: var(--secondary-text-color);
  letter-spacing: 0.4em;
  text-indent: 0.2em;
  line-height: 1.4;
}

.post-hero {
  width: 100%;
  height: 30vh;
  object-position: top;
  object-fit: cover;
  margin-bottom: 10px;
  position: relative;
}
.post-hero > img {
  width: 100%;
  height: 30vh;
}

.tag-list {
  float: right;
  margin-top: 1rem;
}

.col-lg-12 > .post-div > .post-ref > h2 {
  font-size: 1.3rem;
  font-family: var(--hero-font);
}

.col-lg-12 > .post-div > .post-ref > p {
  font-size: 1rem;
  clear: right;
}

.col-lg-12 > .post-div > a > .post-hero {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}
.col-lg-12 > .post-div > a > .post-hero > img {
  width: 100px;
  height: 100px;
}


div.tag-view {
  margin-top: 1rem;
}

.tag-post > .post-div > .post-ref > h2 {
  font-size: 1.3rem;
  font-family: var(--hero-font);
}

.tag-post > .post-div > .post-ref > p {
  font-size: 1rem;
  clear: right;
}

.tag-post > .post-div > a > .post-hero {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

.tag-post > .post-div > a > .post-hero > img {
  width: 100px;
  height: 100px;
}