---
title: Manish Katoch
description: Manish is a generalist software engineer for over a decade. This site is a collection of his views and learnings.
author: Manish Katoch
twitter: m_the_katoch
links:
  - icons: fas fa-envelope-square
    title: Email
    link: mailTo:manish.katoch@gmail.com
  - icons: fab fa-linkedin
    title: LinkedIn
    link: https://www.linkedin.com/in/manishkkatoch/
  - icons: fab fa-twitter-square
    title: Twitter
    link: https://twitter.com/m_the_katoch
  - icons: fab fa-medium
    title: Medium
    link: https://medium.com/@manish.katoch
location: Berlin, Germany
ogtype: website
image: https://lh3.googleusercontent.com/pw/ACtC-3dZzo8YyN_rdDPqrcSrOGTcsh1qDC2KOy30eBU2zTkJ7MX1ZIIpr4UJm2IujGyIIIb-UOKDLYXQS10GdOHBti_fPYX6yOWKYMVnFcd6kGB72trx1ks2ddJPqCX-hpOcN_u4BZl7I8JmMYUmUxuYDRNX=s960-no?authuser=0
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Merriweather+Sans:ital,wght@0,400;0,600;1,400;1,500&family=Roboto&display=swap" >
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    
    {% set css %}
    {% include "../../css/prism.base16.monokai.dark.css" %}
    {% include "../../css/base.css" %}
    {% include "../../css/home.css" %}
    {% include "../../css/footer.css" %}
    {% include "../../css/post.css" %}
    {% include "../../css/postview.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    {% seo "" %}

  </head>
  <body>
    <section class="container-fluid align-items-center">
      <div class="row dark-bg">
        {% include "layouts/header.njk" %}
      </div>
      <div class="row main-row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">

              {{ content | safe }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid p-0"></section>

    {% set heroUrl = "/images/about_me.jpg" %}
    {% set bio = "I'm <b>Manish Katoch</b>.<br/><br/>
          I am a polyglot software developer who loves and strives to write simple, clean and testable code.<br/><br/>
          As a developer, I am partial towards Scala,
          Kotlin and everything functional. I also enjoy developing mobile applications and frameworks.<br/>
          As tech lead, I have collaborated with some of the key players in the Travel, BFSI and Consumer Electronics domain to build teams that create mission-critical, consumer enriching products/platforms.
          <br/><br/>
          previously worked with NVIDIA and ThoughtWorks, I currently work with a startup with a mission to make Industry 4.0 better.
        " %}

    {% set links = links %}
    {% include "layouts/footer.njk" %}

    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script defer src="https://kit.fontawesome.com/0a5d5a6a83.js" crossorigin="anonymous"></script>
  </body>
</html>