<div class="row mx-auto footer-row">
    <div class="col-lg-3 padded-col">
        <div class="d-flex">
        <h2>Manish Katoch</h2>
        <div class="d-flex links">
        {% for link in links %}            
            <a href="{{ link.link }}" target="_blank" rel="noopener" alt="{{ link.title }}" class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="{{ link.icons }} fa-stack-1x fa-inverse rounded"></i>
            </a>
        {% endfor %}
        </div>
        </div>
    </div>
    <div class="col-lg-7 padded-col">
    <p>Polyglot developer since 2005.</p> 
    <p>Partial towards anything functional. Scala, Kotlin over Java. TypeScript over JavaScript. <u>Most importantly, tests over documents.</u></p>
    <p>Loves writing frameworks and tries his best to write OSS.</p>
    </div>
    <div class="col-lg-2 padded-col">
    {% include "layouts/header.njk" %}
    </div>
    <div class="col-lg-12 d-flex align-items-center p-40 mx-auto copy">
        <p>&copy; Manish Katoch 2020</p>
        <p>
            <a href="https://www.11ty.dev/">11ty</a>
        </p>
        <p>
            <a href="https://ethanschoonover.com/solarized/">Solarized</a>
        </p>
    </div>
</div>