<nav class="navbar">
  <ul class="navbar-nav">
    {% for entry in collections.all | eleventyNavigation %}
      <li class="nav-item">
        <a class="nav-link" href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>